<div class="container dynamicTile">
  <div class="row ">
    <div class="col-xs-4">
        <div class="tile">
            <div class="project-title">Job Search Tracker</div>
            <div class="project-description">Proof of concept web application for tracking and managing the job search process and providing basic analytics.</div>
            <div class="technologies">Technologies:</div>
            <div>
                <span class="label label-success">Java</span>
                <span class="label label-success">Spring</span>
                <span class="label label-primary">Postgres</span>
                <span class="label label-warning">Microservices</span>
                <span class="label label-info">Angular</span>
                <span class="label label-info">Express</span>
                <span class="label label-info">Node</span>
                <span class="label label-default">HTML/CSS</span>
                <span class="label label-danger">ChartJS</span>
                <div class="item active">
                    <img src="images/job_tracker_screenshot.png" class="tile-img img-responsive" />
                </div>
                <br>
                <div class="text-center">
                    <a href="https://github.com/danielbutts/job-tracker"><img src="images/github_icon.png" class="icon" />Github Repo</a>
                    <a href="https://job-tracker-client-service.herokuapp.com/"><img src="images/heroku_icon.png" class="icon" />Live App</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="tile">
            <div class="project-title">Job Search Tracker</div>
            <div class="project-description">Proof of concept web application for tracking and managing the job search process and providing basic analytics.</div>
            <div class="technologies">Technologies:</div>
            <div>
                <span class="label label-success">Java</span>
                <span class="label label-success">Spring</span>
                <span class="label label-primary">Postgres</span>
                <span class="label label-warning">Microservices</span>
                <span class="label label-info">Angular</span>
                <span class="label label-info">Express</span>
                <span class="label label-info">Node</span>
                <span class="label label-default">HTML/CSS</span>
                <span class="label label-danger">ChartJS</span>
                <div class="item active">
                    <img src="images/job_tracker_screenshot.png" class="tile-img img-responsive" />
                </div>
                <br>
                <div class="text-center">
                    <a href="https://github.com/danielbutts/job-tracker"><img src="images/github_icon.png" class="icon" />Github Repo</a>
                    <a href="https://job-tracker-client-service.herokuapp.com/"><img src="images/heroku_icon.png" class="icon" />Live App</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="tile">
            <div class="project-title">Job Search Tracker</div>
            <div class="project-description">Proof of concept web application for tracking and managing the job search process and providing basic analytics.</div>
            <div class="technologies">Technologies:</div>
            <div>
                <span class="label label-success">Java</span>
                <span class="label label-success">Spring</span>
                <span class="label label-primary">Postgres</span>
                <span class="label label-warning">Microservices</span>
                <span class="label label-info">Angular</span>
                <span class="label label-info">Express</span>
                <span class="label label-info">Node</span>
                <span class="label label-default">HTML/CSS</span>
                <span class="label label-danger">ChartJS</span>
                <div class="item active">
                    <img src="images/job_tracker_screenshot.png" class="tile-img img-responsive" />
                </div>
                <br>
                <div class="text-center">
                    <a href="https://github.com/danielbutts/job-tracker"><img src="images/github_icon.png" class="icon" />Github Repo</a>
                    <a href="https://job-tracker-client-service.herokuapp.com/"><img src="images/heroku_icon.png" class="icon" />Live App</a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
